{% load static %}
<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'teacher/teacher-navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/light-dark.css' %}">
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Teacher Page</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .card {
            max-width: 500px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div>
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success' %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'teacher:teacher-home' %}">Teacher Page</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'teacher:teacher-home' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-curent="page" href="{% url 'teacher:teacher-profile' %}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-curent="page" href="{% url 'teacher:teacher-activities' %}">Activities</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'teacher:teacher-students-list' %}">Students and Grades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link logout" href="{% url 'accounts:signout' %}">Log out</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</div>
<div class="container mt-5">
    <form method="POST" class="row justify-content-center">
        {% csrf_token %}
        {% for course in available_courses %}
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.course_name }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="course" value="{{ course.course_id }}" id="course{{ course.course_id }}" onclick="showHideTextbox('course{{ course.course_id }}')">
                            <label class="form-check-label" for="course{{ course.course_id }}">
                                Select this course
                            </label>
                            <input type="text" id="course{{ course.course_id }}_weight" name="course_weight" style="display:none">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for seminar in available_seminars %}
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ seminar.seminar_name }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="seminar" value="{{ seminar.seminar_id }}" id="seminar{{ seminar.seminar_id }}" onclick="showHideTextbox('seminar{{ seminar.seminar_id }}')">
                            <label class="form-check-label" for="seminar{{ seminar.seminar_id }}">
                                Select this seminar
                            </label>
                            <input type="text" id="seminar{{ seminar.seminar_id }}_weight" name="seminar_weight" style="display:none">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for laboratory in available_laboratories %}
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ laboratory.laboratory_name }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="laboratory" value="{{ laboratory.laboratory_id }}" id="laboratory{{ laboratory.laboratory_id }}" onclick="showHideTextbox('laboratory{{ laboratory.laboratory_id }}')">
                            <label class="form-check-label" for="laboratory{{ laboratory.laboratory_id }}">
                                Select this laboratory
                            </label>
                            <input type="text" id="laboratory{{ laboratory.laboratory_id }}_weight" name="laboratory_weight" style="display:none">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-success mt-3">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/pop-up-fade.js' %}"></script>
<script>
    function showHideTextbox(id) {
    var checkbox = document.getElementById(id);
    var textbox = document.getElementById(id + "_weight");

    if (checkbox.checked) {
        textbox.style.display = "block";
    } else {
        textbox.style.display = "none";
        textbox.value = "";  // clear the textbox value
    }
}
</script>
</body>
</html>